body {
    font-family: "Lato", sans-serif;
    background-image: url(_background/Psycho-Pass.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}

.judul {
    text-align: center;
}

.tablink {
    background-color: black;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: red;
    color: white;
}

.content {  
    color: white;
    width: auto;
    display: none;
    padding: 50px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;

}

.photo {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px ;
}

.container-div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    width: auto;
}

.tevt-intro {
    color: white;
}

.text-intro p {
    text-align: center;
}

.tabel {
    text-align: left;
}

.container-div table {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 10px;
}

.container-div td {
    padding: 0px 25px;
}
    
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.bahasa-pemro table {
    display: flex;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    margin: 0; 
}

.bahasa-pemro h1 {
    text-align: center;
}

.bahasa-pemro th {
    padding: 10px 56px;
}

.bahasa-pemro th img {
    width:  80px;
    height: 80px;
    border-radius: 50%;
}

.name {
    text-align: center;
}

.name td {
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pengalaman-coding li{
    padding-top: 20px;
}

.atribut {
    border: 3px solid red; 
    padding: 20px;
    background-color: black;
    border-radius: 16px;
    margin-bottom: 30px;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 98%;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
  
#myUL {
   list-style-type: none;
   padding: 0;
   margin: 0;
   font-family: 'Times New Roman', Times, serif;
}
  
#myUL li a {
   border: 1px solid #ddd;
   margin-top: -1px; /* Prevent double borders */
   background-color:black;
   padding: 12px;
   text-decoration: none;
   font-size: 18px;
   color: white;
   display: block
}
  
#myUL li a:hover:not(.header) {
    background-color: white;
    color: black;
}